{% extends "layout.html" %}
{% block content %}
    <h1> About Us </h1><br>
    <article class="media content-section">
    <div class="media-body">
        <!-- <div class="article-metadata">
        <a class="mr-2" >Welcome to Reminderquipo!</a>
        <small class="text-muted">A single destination to keep track of all your assignments. Login or Signup to continue</small>
        </div> -->
        <h2><a class="article-title">Reminderquipo!</a></h2><br>
        <p class="article-content">A single destination to keep track of all your assignments. Login or Signup to continue<br>
                                    Once you add your assignment in Reminderquipo, you will receive regular reminders through email.<br>
                                </p>
    </div>
    </article>

{% endblock content %}